<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @task.name %>
</p>

<p>
  <strong>Course:</strong>
  <%= @task.associated_course.title %>
 </p>

<p>
  <strong>Due Date:</strong>
  <%= @task.due_date %>
 </p>

<p>
  <strong>Expected Grade:</strong>
  <%= @task.expected_grade %>
 </p>

<p>
  <% if @task.work_blocks %>
  <strong>Work Logs:</strong>
         <% @task.work_blocks.each do |work_block| %>
               <li>Start: <%= work_block.start_time %> &nbsp;
		 End: <%= work_block.end_time %>
		 &nbsp;
		 <%= link_to 'Edit', edit_work_block_path(work_block) %> 
	       </li>
         <% end %>
  <% end %>
</br>
 </p>

<%= link_to 'Record Work Log', new_work_block_path(:task_id => @task.id) %> | 
<%= link_to 'Edit Task' , edit_task_path(@task) %>
</br>
</br>
<%= link_to 'Return to Courses', courses_path %> |
<%= link_to 'Return to Course Tasks', course_path(@task.course_id) %>

