<h1>Listing work_blocks</h1>

<table>
  <thead>
    <tr>
      <th>Start time</th>
      <th>End time</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @work_blocks.each do |work_block| %>
      <tr>
        <td><%= work_block.start_time %></td>
        <td><%= work_block.end_time %></td>
        <td><%= link_to 'Show', work_block %></td>
        <td><%= link_to 'Edit', edit_work_block_path(work_block) %></td>
        <td><%= link_to 'Destroy', work_block, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Work block', new_work_block_path %>
