<p id="notice"><%= notice %></p>

<p>
  <strong>Start time:</strong>
  <%= @work_block.start_time %>
</p>

<p>
  <strong>End time:</strong>
  <%= @work_block.end_time %>
</p>


<p>
  <strong>Total hours:</stong>
  <%= distance_of_time_in_words(@work_block.start_time, @work_block.end_time) %>
</p>


</br>


<%= link_to 'Edit', edit_work_block_path(@work_block) %> |

<%= link_to 'Return to Task', task_path(@work_block.task_id)%>

</br>

