<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @course.title %>
</p>

<p>
  <strong>Course number:</strong>
  <%= @course.course_number %>
</p>


<p>
  <% if @course.tests %>
  <strong>Test:</strong>
        <% @course.tests.each do |test| %>
	   <li><%= link_to test.name, test_path(test.id) %>
	   </li>
	  <% end %>
  <% end %>
</p>

<%= link_to 'Add a Test', new_test_path(:course_id => @course.id)%>
</br>

<p>
<% if @course.homeworks %>
  <strong>Homeworks:</strong>
        <% @course.homeworks.each do |homework| %>
           <li><%= link_to homework.name, homework_path(homework.id) %>
           </li>
          <% end %>
  <% end %>
</p>

<%= link_to 'Add a Homework', new_homework_path(:course_id => @course.id)%>
</br>

<p>
  <% if @course.projects %>
  <strong>Projects:</strong>
        <% @course.projects.each do |project| %>
           <li><%= link_to project.name, project_path(project.id) %>
           </li>
          <% end %>
  <% end %>
</p>

<%= link_to 'Add a Project', new_project_path(:course_id => @course.id)%>
</br>
</br>
</br>
<%= link_to 'Edit', edit_course_path(@course) %> |
<%= link_to 'Back', courses_path %>
